! nord colors
#define C00             #3b3228
#define C01             #cb6077
#define C02             #beb55b
#define C03             #f4bc87
#define C04             #8ab3b5
#define C05             #a89bb9
#define C06             #7bbda4
#define C07             #f5eeeb

#define C08             #645240
#define C09             #cb6077
#define C10             #beb55b
#define C11             #f4bc87
#define C12             #8ab3b5
#define C13             #a89bb9
#define C14             #7bbda4
#define C15             #d0c8c6

! colors
*.color0:               C00
*.color1:               C01
*.color2:               C02
*.color3:               C03
*.color4:               C04
*.color5:               C05
*.color6:               C06
*.color7:               C07

*.color8:               C08
*.color9:               C09
*.color10:              C10
*.color11:              C11
*.color12:              C12
*.color13:              C13
*.color14:              C14
*.color15:              C15

XTerm*termName:         xterm-256color
XTerm*background:       C00
XTerm*foreground:       C07
XTerm*internalBorder:   0
XTerm*cursorBlink:      true
XTerm*faceName:         "FiraCode Nerd Font Mono"
XTerm*faceSize:         9

UXTerm*termName:        xterm-256color
UXTerm*background:      C00
UXTerm*foreground:      C07
UXTerm*internalBorder:  5
UXTerm*cursorBlink:     true
UXTerm*faceName:        "FiraCode Nerd Font Mono"
UXTerm*faceSize:        9

URxvt.background:		C00
URxvt.foreground:		C07
URxvt.internalBorder:	5
URxvt.scrollBar:		false
URxvt.scrollBar_right:	false
URxvt.font:				xft:Iosevka:style=Regular:size=9
URxvt.boldFont:			xft:Iosevka:style=Bold:size=9
URxvt.italicFont:		xft:Iosevka:style=Italic:size=9
URxvt.boldItalicFont:	xft:Iosevka:style=Bold Italic:size=9

rofi.font:              "FiraCode Nerd Font Mono" 9
rofi.color-normal:      C07, C00, C07, C06, C00
rofi.color-window:      C07, C06, C07
rofi.bw:                0
rofi.location:          0
rofi.separator-style:   solid
rofi.padding:           5
rofi.hide-scrollbar:    true
rofi.width:				30

