! nord colors
#define C00             #282828
#define C01             #cc241d
#define C02             #98971a
#define C03             #d79921
#define C04             #458588
#define C05             #b16286
#define C06             #689d6a
#define C07             #ebdbb2

#define C08             #3c3836
#define C09             #fb4934
#define C10             #b8bb26
#define C11             #fabd2f
#define C12             #83a598
#define C13             #d3869b
#define C14             #8ec07c
#define C15             #fbf1c7

! colors
*.color0:               C00
*.color1:               C01
*.color2:               C02
*.color3:               C03
*.color4:               C04
*.color5:               C05
*.color6:               C06
*.color7:               C07

*.color8:               C08
*.color9:               C09
*.color10:              C10
*.color11:              C11
*.color12:              C12
*.color13:              C13
*.color14:              C14
*.color15:              C15

XTerm*termName:         xterm-256color
XTerm*background:       C00
XTerm*foreground:       C07
XTerm*internalBorder:   0
XTerm*cursorBlink:      true
XTerm*faceName:         "FiraCode Nerd Font Mono"
XTerm*faceSize:         9

rofi.font:              "FiraCode Nerd Font Mono" 9
rofi.color-normal:      C00, C15, C00, C06, C00
rofi.color-window:      C00, C06, C00
rofi.bw:                2
rofi.location:          0
rofi.separator-style:   solid
rofi.padding:           5
rofi.hide-scrollbar:    true

! dwm configuration
dwm.borderpx:			2
dwm.normbgcolor:		C00
dwm.normbordercolor:	C08
dwm.normfgcolor:		C07
dwm.selbgcolor:			C06
dwm.selbordercolor:		C06
dwm.selfgcolor:			C00
dwm.gappx:				9
dwm.mfact:				0.5

! st configuration
st.shell:				/bin/fish
st.background:			C00
st.foreground:			C07
st.borderpx:			0
st.alpha:				0.98
st.font:				FiraCode Nerd Font Mono
st.blinktimeout:		500

! sxiv configuration
sxiv*background:		C00
sxiv*foreground:		C07
